* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  
}
body {
  background-color: rgb(55, 55, 55);
}
.App {
  min-height: 100vh; 

}
.form-container {
  
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container label {
  color: white;
}
.form-container input {
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  height: 2rem;
  width: 10rem;
  text-align: center;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33rem;

  margin: 1rem;
}
.movie-img {
  object-fit: cover;
  height: 28rem;
  width: 20rem;
}
.movie h5 {
  color: white;
  font-size: 1.5rem;
  max-width: 20rem;
}